LoanBankGui/xml-resources/web-service-references/LoanBrokerWS/wsdl/localhost_8080/LoanBrokerWS/LoanBrokerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.loanbroker/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.loanbroker/">

<xs:element name="getLoanRequest" type="tns:getLoanRequest"/>

<xs:element name="getLoanRequestResponse" type="tns:getLoanRequestResponse"/>

<xs:complexType name="getLoanRequest">
<xs:sequence>
<xs:element name="request" type="tns:loanRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loanRequest">
<xs:sequence>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
<xs:element name="loanAmount" type="xs:double"/>
<xs:element name="loanDuration" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoanRequestResponse">
<xs:sequence>
<xs:element name="return" type="tns:loanResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loanResponse">
<xs:sequence>
<xs:element name="bankName" type="xs:string" minOccurs="0"/>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
<xs:element name="interrestRate" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>